<div class="row" id="content">
    <div class="col-sm-6">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hlIeachLKMY" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    </div>
    <div class="col-sm-6">
        <a ng-click="showmodal('content1')" data-toggle="modal" data-target="#myModal">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <p class="pull-right">
                        Test
                    </p>
                    <p class="pull-left">
                        <img src="http://via.placeholder.com/50x50" class="img-circle" alt="Cinque Terre">
                        <span>Panel Headings</span>
                    </p>
                </div>
                <div class="panel-body">
                    <h3>Hello</h3>
                    <p>Hello1</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="images/rocksmall.png" alt="ok">
                            <span>Test1</span>
                        </div>
                        <div class="col-sm-4">
                            <img src="images/share_single.png" alt="share">
                            <span>Test1</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="commenticon">13</span>
                            <span>Test3</span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <p class="pull-right">Test</p>
                    <p class="pull-left">
                        <img src="http://via.placeholder.com/25x25" class="img-circle" alt="Cinque Terre">
                        <span>Footer Heading</span>
                        <i>Test</i>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a ng-click="showmodal('content2')" data-toggle="modal" data-target="#myModal">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <p class="pull-right">
                        Test
                    </p>
                    <p class="pull-left">
                        <img src="http://via.placeholder.com/50x50" class="img-circle" alt="Cinque Terre">
                        <span>Panel Headings</span>
                    </p>
                </div>
                <div class="panel-body">
                    <h3>Hello</h3>
                    <p>Hello1</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="images/rocksmall.png" alt="ok">
                            <span>Test1</span>
                        </div>
                        <div class="col-sm-4">
                            <img src="images/share_single.png" alt="share">
                            <span>Test2</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="commenticon">13</span>Test3</span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <p class="pull-right">Test</p>
                    <p class="pull-left">
                        <img src="http://via.placeholder.com/25x25" class="img-circle" alt="Cinque Terre">
                        <span>Footer Heading</span>
                        <i>Test</i>
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-6">
        <a ng-click="showmodal('content1')" data-toggle="modal" data-target="#myModal">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <p class="pull-right">
                        Test
                    </p>
                    <p class="pull-left">
                        <img src="http://via.placeholder.com/50x50" class="img-circle" alt="Cinque Terre">
                        <span>Panel Headings</span>
                    </p>
                </div>
                <div class="panel-body">
                    <h3>Hello</h3>
                    <p>Hello1</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="images/rocksmall.png" alt="ok">
                            <span>Test1</span>
                        </div>
                        <div class="col-sm-4">
                            <img src="images/share_single.png" alt="share">
                            <span>Test2</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="commenticon">13</span>
                            <span>Test3</span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <p class="pull-right">Test</p>
                    <p class="pull-left">
                        <img src="http://via.placeholder.com/25x25" class="img-circle" alt="Cinque Terre">
                        <span>Footer Heading</span>
                        <i>Test</i>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a ng-click="showmodal('content2')" data-toggle="modal" data-target="#myModal">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <p class="pull-right">
                        Test
                    </p>
                    <p class="pull-left">
                        <img src="http://via.placeholder.com/50x50" class="img-circle" alt="Cinque Terre">
                        <span>Panel Headings</span>
                    </p>
                </div>
                <div class="panel-body">
                    <h3>Hello</h3>
                    <p>Hello1</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="images/rocksmall.png" alt="ok">
                            <span>Test1</span>
                        </div>
                        <div class="col-sm-4">
                            <img src="images/share_single.png" alt="share">
                            <span>Test2</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="commenticon">13</span>
                            <span>Test3</span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <p class="pull-right">Test</p>
                    <p class="pull-left">
                        <img src="http://via.placeholder.com/25x25" class="img-circle" alt="Cinque Terre">
                        <span>Footer Heading</span>
                        <i>Test</i>
                    </p>
                </div>
            </div>
        </a>
    </div>
    {{warning}}
</div>