body {
    padding-top: 70px;
}
.img-circle {    
    margin: auto;
}
/* display block */
#display a, #display a:active{
    color: #000; 
    text-decoration: none;   
}
#display a:hover{
    text-decoration: none;
    color: #e34c26;
}

/* footer */

footer {
    background-color: #222;
    color: #fff;
    padding: 60px 0 80px 0;
}

footer a {
    color: #9d9d9d;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: #fff;
    text-decoration: none;
}

/* progressbar */
.progress-bar{
    color: black;
    -webkit-transition: width 2.5s 1s ease;
    transition: width 2.5s 1s ease;
}
.progress-wrapper{
    overflow: hidden;
    width: 100%;
    animation: 0.5s animatwidth;
}

@keyframes animatwidth {
    from {width:0;}
    to {width:100%;}
}
.typescript{
    background-color: #1a0dab;
    color: #fff;
}
.javascript{
    background-color: #f0db4f;
}
.css{
    background-color: #379ad6;
}
.html{
    background-color: #e34c26;    
}
.ruby{
    background-color: #aa1501;    
}

