<!DOCTYPE html>
<html>
<head>
	<title>Pannel-list appointment</title>
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>    
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/jquery.slimscroll.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body ng-app="App">
	<div class="container">
		<div class="panel panel-default">	
			<div class="panel-heading">			
				<h3 class="text-center">Appointment List and Details</h3>
			</div>
			<div class="panel-body">		
				  <div class="row">
			    	<div class="col-sm-12 searchblock">
			    		<form class="form-inline pull-right">
				 			<label>Search: <input type="text" name="search" class="form-control" ng-model = "search"></label>	
				 		</form>	
			    	</div>
			    	<br>
				    <div class="col-sm-12 table-responsive " ng-controller="mainCtrl">        
				        <table class="table table-bordered">
				          	<thead>
					            <tr>	            	             
						            <th ng-click = "orderByMe('user_name')">With Whom</th>
						            <th ng-click = "orderByMe('service_type')">Service Type</th>
						            <th ng-click = "orderByMe('-appnt_date')" class="text-center">Appointment Date</th>
						            <th ng-click = "orderByMe('-appnt_time')" class="text-center">Appointment Time</th>
						            <th ng-click = "orderByMe('status')" class="text-center">Status</th>
						            <th class="text-center">Details</th>
					            </tr>
				         	 </thead>
				          	<tbody ng-repeat="obj in objects | filter : paginate | filter : search | orderBy:myOrderBy">
					            <tr> 	                            
					              <td>{{obj.user_name}}</td>
					              <td>{{obj.service_type}}</td>
					              <td class="text-center">{{obj.appnt_date}}</td>
					              <td class="text-center">{{obj.appnt_time}}</td>
					              <td class="text-center">{{obj.status}}</td>
					              <td class="text-center">
					                <a href="#collapse{{$index + 1}}" class="fa fa-chevron-down arrow " data-parent="#accordion" data-toggle="collapse" ></a>		
					               
					                <a href="#" class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete"></a>
					                <a href="#" class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit Detail"></a>
					              </td>
					            </tr>
					            <tr class="viewdetail collapse" id="collapse{{$index + 1}}" >
						            <td colspan="6">
						                <div class="well">
											<div class="row">
												<div class="col-sm-2 ">
													<img ng-src="{{obj.user_picture}}" class="img-responsive">				
												</div>
												<div class="col-sm-6">
													<div class="details">
														<div class="row">
															<div class="col-sm-3">Name:</div>
															<div class="col-sm-9">{{obj.user_name}}</div>						
														</div>
														<div class="row">
															<div class="col-sm-3">Appointment Date:</div>
															<div class="col-sm-9">{{obj.appnt_date}}
															</div>						
														</div>
														<div class="row">
															<div class="col-sm-3">Phone No:</div>
															<div class="col-sm-9">{{obj.phone}}</div>						
														</div>
														<div class="row">
															<div class="col-sm-3">Registered Email:</div>
															<div class="col-sm-9">{{obj.email_id}}</div>						
														</div>
														<div class="row">
															<div class="col-sm-3">id:</div>
															<div class="col-sm-9">{{obj.user_id}}</div>						
														</div>
														<div class="row">
															<div class="col-sm-3">Status:</div>
															<div class="col-sm-9">{{obj.status}}</div>						
														</div>
														<div class="row">
															<div class="col-sm-3">Case :</div>
															<div class="col-sm-9">{{obj.Case}}</div>						
														</div>											
													</div>
												</div>
												<div class="col-sm-4 editblock">
													<h3 class="text-center">Messages</h3>
													<hr>															
													<div class="row messageblock">
														<div class="col-xs-12 messagebox">
															
															<span class="username">Alexandra Gonzales
																<span class="posttime pull-right">8:03 PM Today</span>
															</span>
															<p>
																Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
															</p>
														</div>
														<div class="col-xs-12 messagebox">
															<span class="username">ME
																<span class="posttime pull-right">7:45 PM Today</span>
															</span>
															<p>
																Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
															</p>
														</div>
														<div class="col-xs-12">
															<form class="clearfix">
																<input type="text" name="messagepost" placeholder="Please enter comment" class="pull-left"><a href="#" class="pull-right">Send</a>
															</form>
														</div>									
													</div>							
												</div>
											</div>
										</div>
						            </td>
					            </tr>
				        	</tbody>
				        </table>
				        <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm pull-right">
				        </pagination>
				    </div> 
			    </div>
			</div>
		</div>		<!-- panel ends -->
	</div>
</body>
</html>