<div class="card card-body">
    <h1 class="text-center">Add Ideas</h1>
    <form action="/ideas" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="{{title}}" required>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
           <textarea name="details" id="" class="form-control">{{details}}</textarea>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>